<style>
    input{
        font-weight:bold;
    }
    select{
        font-weight:bold;
    }
    .datepicker table td, .datepicker table th, .datetimepicker table td, .datetimepicker table th {
        font-family: 'proximanovalight' !important;
    }
    label{
        font-weight:bold;
    }
</style>
<div class="portlet light bordered">
    <div class="portlet-body form">
        <form role="form">
            <div class="form-body">
                
                <div class="form-group form-md-line-input form-md-floating-label has-success">
                    
                    <input type="text" class="form-control edited"  id="department_name" ng-model="row.department_name">
                    <label for="form_control_1">Department Name</label>
                </div>
                
                <div class="form-group form-md-line-input form-md-floating-label has-success">
                    <input type="text" class="form-control edited"  id="department_desc" ng-model="row.department_desc">
                    <label for="form_control_1">Department Description</label>
                </div>
                <input type="hidden" id="real_department_id" />
                
            </div>
            <div class="form-actions noborder">
                <button type="button" class="btn blue" ng-click="edit_department()">Update</button>
                <button type="button" class="btn default" ng-click="close_department()">Cancel</button>
            </div>
        </form>
    </div>
</div>