
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div class="row" ng-controller="FacilityController">
    

        <div class="col-md-12">
            <div class="table-toolbar">
            	<div class="row">
            		<div class="col-md-12" style="text-align:right;">
            			<div class="btn-group">
            				<button id="add_facility" class="btn sbold green" ng-click="go_create_facility()"> Create
            					<i class="fa fa-plus"></i>
            				</button>
            			</div>
            		</div>
            	</div>
            </div>
            
            
            
            
            
            <div ui-view class="profile-content fade-in-up"></div>
        </div>

</div>
