<style>
    .form-group{
        margin-bottom:0px;
    }
    .help-block{
        margin-bottom:0px !important;
    }
    .input-item {
      margin: 18px 0;
    }
    
    .error-wrapper {
      display: inline-block;
      color: red;
    }
    
    .text-box {
      width: 200px;
    }
    
    .text-box.ng-valid:not(.custom-focused) {
      border-color: green;
    }
    
    .text-box.ng-invalid.ng-dirty:not(.custom-focused) {
      background-color: red;
    }
    
    
    label, input, select, button{
        border-radius:3px !important;
        color:#fff;
    }
    
    
    .form-control {
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        background-color: #fff;
        border: 1px solid #c2cad8;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        background: #1b2432;
        border-color: #4f5467;
        color: #ddd;
    }
    
    
    .select2-container--bootstrap .select2-search--dropdown .select2-search__field, .select2-container--bootstrap .select2-selection, .select2-container--bootstrap.select2-container--focus .select2-selection, .select2-container--bootstrap.select2-container--open .select2-selection {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #1b2432;
    border: 1px solid #4f5467;
}


.select2-results {
    display: block;
    background: #253042;
    color: #fff;
    border: 1px solid #4f5467;
}
.select2-container--bootstrap .select2-selection--multiple .select2-search--inline .select2-search__field {
    background: transparent;
    padding: 0 12px;
    height: 32px;
    line-height: 1.42857;
    margin-top: 0;
    min-width: 5em;
    width: 100% !important;
}

</style>
<div class="col-md-12">
        <div style="padding:30px;background:#222c3c;border-radius:10px !important;display:inline-block;">
            <div class="col-md-12">
        <form name="myForm" class="hospital-create-form" role="form" method="POST" novalidate>
            <div class="form-body">
                <div class="col-md-12" style="padding-left:0px;padding-right:0px;margin-bottom:15px;">
                    <div class="form-group col-md-3">
    					<label><strong>Name</strong></label>
    					<div class="input-group" style="width:100%;">
    						<input type="text" class="form-control" id="institution_name" ng-change="validation(1)" placeholder="Name" autocomplete="off" name="name" required ng-model="name"> 
    					</div>
                        <span style="color:#ff0000;" ng-show="namevalidation"><strong>Name is required</strong></span>
    				</div>
				      
                    <div class="form-group col-md-3">
    					<label><strong>Type</strong></label>
    					
    					<div class="input-group" style="width:100%;" >
    						<select class="form-control" id="institution_type" ng-change="validation(2)" required name="type" ng-model="type">
                                <option value="" disabled selected>Select Your Type</option>
    							<option>Institution</option>
    							<option>Hospital</option>
    							<option>Radiology Center</option>
    						</select>
    					</div>
                        <span style="color:#ff0000;" ng-show="typevalidation"><strong>Type is required</strong></span>

    				</div>
    				
                    <div class="form-group col-md-3">
    					<label><strong>Phone Number</strong></label>
    					
    					<div class="input-group" style="width:100%;">
    						<input type="text" class="form-control" id="phone_number" ng-change="validation(3)" placeholder="Phone Number" name="phone" required ng-model="phone"> 
    					</div>
                        <span style="color:#ff0000;" ng-show="phonevalidation"><strong>Phone is required</strong></span>
    				</div>
                    <div class="form-group col-md-3">
    					<label><strong>Email</strong></label>
    					
    					<div class="input-group" style="width:100%;">
    						<input type="email" class="form-control" placeholder="Email" ng-change="validation(4)" id="email" name="email" required ng-model="email"> 
    					</div>
                        <span style="color:#ff0000;" ng-show="emailvalidation"><strong>Email is required</strong></span>
    				</div>
                </div>
                <div class="col-md-12" style="padding-left:0px;padding-right:0px;margin-bottom:15px;">
                    <div class="form-group col-md-3">
    					<label><strong>Website</strong></label>
    					
    					<div class="input-group" style="width:100%;">
    						<input type="text" class="form-control" placeholder="Website" ng-change="validation(5)" id="website" name="website" ng-model="website" required> 
    					</div>
                        <span style="color:#ff0000;" ng-show="websitevalidation"><strong>Website is required</strong></span>
    
    				</div>
    				<div class="form-group col-md-3">
    					<label><strong>Equipment</strong></label>
					
    					<div class="input-group" style="width:100%;">
        					<select id="multiple" class="form-control select2-multiple" ng-change="validation(6)" style="width:100%;" multiple name="equipment"  ng-model="equipment" required>
        							<option value="1">X-ray</option>
        							<option value="2">CT scan</option>
        							<option value="3">Mamogram</option>
        					</select>
    	                    <span style="color:#ff0000;" ng-show="equipmentvalidation"><strong>Equipment is required</strong></span>
    
    					</div>
    					
    				</div>
    				<div class="form-group col-md-3">
    					<label><strong>Address1</strong></label>
    					
    					<div class="input-group" style="width:100%;">
    						<input type="text" class="form-control" id="address_1" ng-change="validation(7)" placeholder="Address1" name="address1" ng-model="address1" required> 
    					</div>
                        <span style="color:#ff0000;" ng-show="address1validation"><strong>Address1 is required</strong></span>
    					
                    </div>
                    <div class="form-group col-md-3">
    					<label><strong>Address2</strong></label>
    					
    					<div class="input-group" style="width:100%;">
    						<input type="text" class="form-control" id="address_2" ng-change="validation(8)" placeholder="Address2" name="address2" ng-model="address2" required> 
    					</div>
                        <span style="color:#ff0000;" ng-show="address2validation"><strong>Address2 is required</strong></span>
    					
    				</div>
                </div>
				
				
                <div class="col-md-12" style="padding-left:0px;padding-right:0px;margin-bottom:15px;">
				    <div class="form-group col-md-3">
    					<label><strong>City</strong></label>
    					<div class="input-group" style="width:100%;">
    						<input type="text" class="form-control" placeholder="City" ng-change="validation(9)" name="city" id="city" required ng-model="city"> 
    					</div>
	                    <span style="color:#ff0000;" ng-show="cityvalidation"><strong>City is required</strong></span>
    				</div>
				    <div class="form-group col-md-3">
    					<label><strong>Country</strong></label>
    					<div class="input-group" style="width:100%;">
    						<select class="form-control" name="country"  id="country" required >
    						</select>
    					</div>
	                    <span style="color:#ff0000;" ng-show="countryvalidation"><strong>Country is required</strong></span>
    				</div>
    				<div class="form-group col-md-3">
    					<label><strong>State</strong></label>
    					<div class="input-group" style="width:100%;">
    						<select class="form-control" name="state" id="state"  required ng-model="state">
    						</select>
    					</div>
	                    <span style="color:#ff0000;" ng-show="statevalidation"><strong>State is required</strong></span>
    				</div>
    				<div class="form-group col-md-3">
    					<label><strong>ZipCode</strong></label>
    					<div class="input-group" style="width:100%;">
    						<input type="text" class="form-control" id="zipcode" ng-change="validation(10)" placeholder="Zipcode" name="zipcode" ng-model="zipcode" required> 
    					</div>
	                    <span style="color:#ff0000;" ng-show="zipcodevalidation"><strong>Zipcode is required</strong></span>
    				</div>
				</div>
				
				<div class="form-group col-md-6" style="text-align:left;">
					<label>&nbsp;</label>

				    <div class="input-group" style="width:100%;">
    					<!--<button type="button"  ng-disabled="myForm.$invalid" class="btn green" style="width:15%;" ng-click="create_hospital_save()">Save</button>-->
                        <button type="button"   class="btn green" style="width:15%;background:#2CA8FF;color:#fff;" ng-click="create_hospital_save()"><strong>Save</strong></button>&nbsp;&nbsp;
        				<button type="button" class="btn dark btn-outline" style="background:#888888;color:#fff;width:15%;" ng-click="close_create_hospital()"><strong>Close</strong></button>
                        
					</div>
					
				</div>

            </div>
        </form>
    </div>
        </div>
    
</div>
<script>
    var placeholder = "Select Equipment";

        $(".select2, .select2-multiple").select2({
            placeholder: placeholder,
            width: null
        });
        
        
        
            populateCountries("country", "state");
        
</script>
